*{
    margin: 0;
    padding: 0;
    background-image: src;
}

.first-color { 
	background: #152a38; 
}
	
.second-color { 
	background: #2f5241; 
}

.third-color { 
	background: #d6cfb9; 
}

.fourth-color { 
	background: #e4e5db;
}

/* Header */
#header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    animation: part1 1s ease forwards;
}
#header h1 {
    color: #e4e5db;
    font-size: 20px;
}
#header button {
    animation: part1 1s ease forwards;
    animation-delay: 0.1s;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background-color: #152a38;
    font-weight: 600;
    font-size: 15px;
    color: #d6cfb9;
}
#header button:hover {
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.7);
    background-color: #d6cfb9;
    color: #152a38;
    cursor: pointer;
}
#navbar {
    animation: part1 1s ease forwards;
    animation-delay: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #d6cfb9;
    transition: 0.3s ease;
}
#navbar li a:hover {
    color: #e4e5db;
}
#navbar li a:hover,
#navbar li a.active {
    text-shadow: 0px 0px 20px rgba(228, 229, 219, 0.9);
    color: #e4e5db;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #e4e5db;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
  }
  #close{
    display: none;
  }
  
  /*popup login*/
  
  
  .popup {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 58px;
    cursor: pointer;
  }
@keyframes part1 {
    0% {
        transform: translateY(-6.25rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.hero {
    background: url('hero-bg.jpg') center center/cover no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;
    background: url('images/donate_food.jpg') center center/cover no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;
}
.map-section {
    height: 400px;
    margin-bottom: 30px;
}
.map-section iframe {
    width: 100%;
    height: 100%;
    border: none;
}




/*footer*/
*{
	margin:0;
	padding:0;
}
 footer{
     background-color: #152a38;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 footer .col{
     margin-left: 30px;
     margin-right: 30px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
 }
 
 footer .logo{
     margin-bottom: 30px;
     margin-top: 30px;
 }
 footer h4{
     font-size: 20px;
     padding-bottom: 10px;
     color: #e4e5db;
     padding-top: 10px;
 }
 footer p{
     color: #e4e5db;
     font-size: 13px;
     margin: 0 0 8px 0;
 }
 footer a{
     font-size: 13px;
     margin: 0 0 8px 0;
     text-decoration: none;
     color: #e4e5db;
     margin-bottom: 10px;
 }
 footer .follow{
     margin-top: 20px;
 }
 footer .follow i{
     color: #e4e5db;
     margin-right:4px;
     cursor: pointer;
 }
 footer .copyright{
     width: 100%;
     text-align: center;
 }
 @media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #152a38;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #header button{
        background-color: #2f5241;
        font-weight: 600;
        font-size: 15px;
        color:#d6cfb9;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #d6cfb9;
        font-size: 24px;
        padding-left: 30px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #d6cfb9;
        font-size: 24px;
    }
 }
